@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

body, * {
	margin: 0;
	padding: 0;
	font-family: 'Chilanka';
	outline: none;
}
a { opacity: 0.8 }
a:hover { opacity: 1; transition: ease-in-out 0.5s }
button { outline: none!important; }
.input-form { margin-top: 25px; }
.nav-link-a a{ opacity: 1 }
.nav-link-a a:hover { opacity: 0.5; transition: ease-in-out 0.5s }
.header { margin-top: 74px; }
.adv { margin-top: 20px; }
.adv-desc { display: inline-block; }
.input-hidden { display: none }
.disabled { pointer-events: auto! important; cursor: not-allowed! important; }
.error { background-color: red; color: white; border-radius: 10px; font-weight: bold; }
.error h4 { padding: 20px 20px 0px 20px; }
.error p { padding: 0px 20px 0px 20px; }
.error .mb-20 { padding-bottom: 10px; }
.project-null-msg { text-align: center; font-size: 15px; color: gray; font-style: italic; }
.hover-mode tbody tr { opacity: 1; }
.hover-mode tbody tr:hover { background-color: #e8ede9; }
.btn-project {
	border-style: none;
	background-color: white;
	display: inline-block;
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
.btn-project:hover { background-color: #e8ede9; }
.btn-project:focus { background-color: #dce0dd; }
.btn-add { border-radius: 20px; }
.btn-full { width: 100%; margin-bottom: 10px; }
.mt-20 { margin: 50px; margin-top: 75px; }
.icons a i { margin-right: 10px; }
.btn-cta { display: inline-block; background: none; border-style: none; width: 15%; }
.btn-cta .btn-project { width: 100%; }
.status { display: inline-block; }
.required{ color: red; }
.onhover .btn-on-hover{ opacity: 0; }
.onhover:hover .btn-on-hover {
	opacity: 1;
	background: none;
	border-style: none;
}
.onhover:hover .btn-on-hover:hover { color: red; transition: ease-in-out 0.1s; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; }
::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
.select { position: relative; font-family: 'Chilanka'; }
.divider { color: black; width: 100px; }
@media(max-width: 900px){
	.btn-cta { width: 20% }
}
@media(max-width: 800px){
	.btn-cta { width: 25% }
}
@media(max-width: 750px){
	.btn-cta { width: 30% }
}
@media(max-width: 400px){
	.btn-cta { width: 100% }
}