<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/shtml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule> 

ErrorDocument 403 /global-error/403.php
ErrorDocument 404 /global-error/404.php
ErrorDocument 405 /global-error/405.php
ErrorDocument 408 /global-error/408.php
ErrorDocument 500 /global-error/500.php
ErrorDocument 502 /global-error/502.php
ErrorDocument 503 /global-error/503.php
ErrorDocument 504 /global-error/504.php